.room .st div{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border:1px solid #2D2D2D;
	transition: 1s;
}

.room h2{
	padding-left: 0.5em;
	padding-bottom: 1em;
	padding-top: 1em;
	font-size:3em;
	line-height: 1em;
}

.room.open .st div{
	background: #4d8f46;
}

.room.closed .st div{
	background: #b73939;
}

.room h2, .room .st{
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 0;
}

.content{
	display: flex;
	justify-content: space-around;
}

.room{
	padding-right: 2em;
	flex-grow: 1;
	width: 32%;
}

.page-calendar-status #page, body.page-calendar-status{
	background: #333;
}

.page-calendar-status #page{
	color:#fff;
}

.breadcrumb{
	display: none;
}

li{
	list-style-type: none;
	list-style-image: none;
	transition: 1s;
	font-size: 1.3em;
	line-height: 1.4em;
	border-left:0px solid #b73939;
	padding-left: 0;
}

.block ul.events{
	margin-left: 0;
	padding-right: 10px;
}

.occuring{
	font-size: 2em;
	line-height: 1.1em;
	margin-bottom: 0.5em;
	border-left:10px solid #b73939;
	padding-left: 10px;
}