.hidden{
	display: none;
}
.centerdialog{
	display: none;
	position: fixed;
	height: 50%;
	width: 50%;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 1000;
	background: #fff;
	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}
.curtain #wrapper{
	background: rgba(225, 225, 225, 0.6);
  -webkit-backdrop-filter: brightness(1.0) blur(20px);
  backdrop-filter: brightness(1.0) blur(20px);
	position: fixed;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  z-index: 1000;
  overflow: hidden;
}
#wrapper{
  background: rgba(225, 225, 225, 0);
  -webkit-backdrop-filter: brightness(0) blur(0px);
  backdrop-filter: brightness(0) blur(0px);
}

.curtain{
	overflow: hidden;
}

:focus {
  outline-color: transparent;
  outline-style: none;
}

.style-checkboxes .form-type-radio small{
	display:none;
}

.style-checkboxes .form-type-radio.occupied input[type=radio]{
	border-color: #b73939;
}

.style-checkboxes .form-type-radio.occupied small{
	display:inline;
}

.style-checkboxes .form-type-radio.occupied {
	opacity: 0.4;
}