.offline-ui .offline-ui-retry:before {
  content: "Koble til igjen";
}

.offline-ui.offline-ui-up .offline-ui-content:before {
  content: "Din EDB terminal er koblet til verdensveven.";
}
@media (max-width: 1024px) {
  .offline-ui.offline-ui-up .offline-ui-content:before {
    content: "Din EDB terminal er koblet til verdensveven.";
  }
}
@media (max-width: 568px) {
  .offline-ui.offline-ui-up .offline-ui-content:before {
    content: "Din EDB terminal er koblet til.";
  }
}
.offline-ui.offline-ui-down .offline-ui-content:before {
  content: "Din EDB terminal har mista koblinga til verdensveven.";
}
@media (max-width: 1024px) {
  .offline-ui.offline-ui-down .offline-ui-content:before {
    content: "Din EDB terminal har mista koblinga til verdensveven.";
  }
}
@media (max-width: 568px) {
  .offline-ui.offline-ui-down .offline-ui-content:before {
    content: "Din EDB terminal er ikkje tilkobla";
  }
}
.offline-ui.offline-ui-down.offline-ui-connecting .offline-ui-content:before, .offline-ui.offline-ui-down.offline-ui-connecting-2s .offline-ui-content:before {
  content: "Prøvar å koble til...";
}
.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"]:before {
  content: "Tilkobling tapt. Prøvar å koble til om " attr(data-retry-in-value) " sekundar...";
}
@media (max-width: 568px) {
  .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"]:before {
    content: "Prøvar å koble til om " attr(data-retry-in-value) "s...";
  }
}
.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"][data-retry-in-value="1"]:before {
  content: "Tilkobling tapt. Prøvar å koble til om " attr(data-retry-in-value) " sekund...";
}
@media (max-width: 568px) {
  .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"][data-retry-in-value="1"]:before {
    content: "Prøvar å koble til om " attr(data-retry-in-value) "s...";
  }
}

.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"]:before {
  content: "Tilkobling tapt. Prøvar å koble til om " attr(data-retry-in-value) " minuttar...";
}
@media (max-width: 568px) {
  .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"]:before {
    content: "Prøvar å koble til om " attr(data-retry-in-value) "m...";
  }
}

.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"][data-retry-in-value="1"]:before {
  content: "Tilkobling tapt. Prøvar å koble til om " attr(data-retry-in-value) " minutt...";
}
@media (max-width: 568px) {
  .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"][data-retry-in-value="1"]:before {
    content: "Prøvar å koble til om " attr(data-retry-in-value) "m...";
  }
}

.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"]:before {
  content: "Tilkobling tapt. Prøvar å koble til om " attr(data-retry-in-value) " timar...";
}
@media (max-width: 568px) {
  .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"]:before {
    content: "Prøvar å koble til om " attr(data-retry-in-value) "h...";
  }
}

.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"][data-retry-in-value="1"]:before {
  content: "Tilkobling tapt. Prøvar å koble til om " attr(data-retry-in-value) " time...";
}
@media (max-width: 568px) {
  .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"][data-retry-in-value="1"]:before {
    content: "Prøvar å koble til om " attr(data-retry-in-value) "h...";
  }
}

.offline-ui.offline-ui-down.offline-ui-reconnect-failed-2s.offline-ui-waiting .offline-ui-retry {
  display: none;
}

.offline-ui.offline-ui-down.offline-ui-reconnect-failed-2s .offline-ui-content:before {
  content: "Eg klarte ikke å koble til verdensveven";
}